{% extends 'dashboard/base.html' %}
{% block title %} courses {% endblock %}
{% load static %}
{% block content %}

    <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Name</th>
                            <th>Course</th>
                        </tr>
                    </thead>

                    {% for i in courses %}
                    <tbody>
                        <tr><td>{{ forloop.counter }}</td>
                            <a href="#">edit
                            <td><a href="#">  {{ i.teacher }}</a>
                              </td>
                            <td>{{ i.course }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                <a href="{% url 'dash_courses_add' %}">
                <button type="button" class="btn btn-info">qo'shish</button>
                </a>

            </div>
        </div>
    </div>
</div>


{% endblock %}